[submodule "modules/stool"]
	path = modules/stool
	url = https://github.com/TNishimoto/stool.git
[submodule "modules/b_tree_plus_alpha"]
	path = modules/b_tree_plus_alpha
	url = https://github.com/TNishimoto/b_tree_plus_alpha.git
[submodule "modules/libdivsufsort"]
	path = modules/libdivsufsort
	url = https://github.com/TNishimoto/libdivsufsort.git
